body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
  
  
}

.horizontal-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: grey;  
    justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-around;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: grey;
  justify-content: space-around;
  align-items: center;   
}

.row .flag {
  display: flex;
  background-color: white;
  width: 22%;
  height: 10em;
}

.vertical-container .flag {
  display: flex;
  background-color: white;
  width: 70%;
  height: 10em;
  
}




/*Horizontal flags*/

#one, #two, #three {
  display: flex;
  flex-direction: column;
}

#one div:nth-child(2) {
  height: 50%;
  background-color: #F1BF00;
}

#one div:nth-child(odd) {
  background-color: #AA151B;
  height: 25%;
}

#two div, #three div {
  height: 33.33%;
}

#two div:nth-child(2) {
  background-color: white;
}

#two div:nth-child(odd) {
  background-color: lightskyblue;
 }

#three div:first-child {
  background-color: black;
}

#three div:nth-child(2) {
  background-color: #DD0000;
}

#three div:last-child {
 background-color: #FFCC00;
}

#four, #five {
  display: flex;
  justify-content: space-between;
}

#four div, #five div {
  width: 33.3%;
}

#four div:first-child {
  background-color: #0055A4;
}

#four div:last-child {
  background-color: #EF4135;
}

#five div:first-child {
  background-color: #008c45 ;
}

#five div:last-child {
  background-color: #cd212a;
}

#six {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

#six div {
  height: 16.6%;
  background-color: #00205B;
}

#six div:nth-child(2) {
  height: 33.2%;
  background-color: #EF3340;
}

#seven  {
   background: repeating-linear-gradient(
    #CE0000 0%,
    #CE0000 11.11%,
    #CE0000 11.11%,
    #ffd900 11.11%, 
    #ffd900 22.22%);
}


#eight, #nine {
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
}

#eight div:first-child {
  background-color: #CE1126;
  height: 100%;
  width: 30%;
  }

#eight div:nth-child(2) {
  background-color:	#FCD116;
  height: 50%;
  width: 70%;
}

#eight div:last-child {
  background-color:#009E49;
  height: 50%;
  width: 70%;
}

#nine div:first-child {
  background-color: #FF0000;
  height: 100%;
  width: 30%;
  }

#nine div:nth-child(n+2) {  /*(n+2) = all children starting from 2 */
    height:33.3%;
    width: 70%;
}

#nine div:nth-child(2) {
    background-color:	#00843D;
}

#nine div:nth-child(3) {
    background-color:white;
}
  
#nine div:last-child {
  background-color:black;
}


/*Vertical flags*/

#ten, #eleven {
  display: flex;
  justify-content: center;
  align-items: center; 
}

#ten div {
  background-color: #BC002D;
  width: 50%;
  height: 75%;
  border-radius: 50%;
}

#eleven>div{   /*two horizontal containers*/
  display: flex;
  width: 100%;
  height: 100%;
}

#eleven>div:first-child div{
  background-color: #072357;
  width: 100%;
  height: 50%;
  align-self: end;
}

#eleven>div:last-child div{
  background-color:#DA121A;
  width: 100%;
  height: 50%;
}

#twelve {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;

}

#twelve div {
  width: 43%;
  height:40%
}

#twelve div:first-child, #twelve div:last-child {
  background-color: #072357;
}

#twelve div:nth-child(2), #twelve div:nth-child(3) {
  background-color: #DA121A;
}

#thirteen {
  background: repeating-linear-gradient(
    #BB133E 0%,
    #BB133E 7.7%,
    #BB133E 7.7%,
    white 7.7%, 
    white 15.4%);
} 

#thirteen>div {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 48%;
  background-color: #0A3161;
  overflow: auto;
}

.starRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.8em;
  height:25%;
}

.starRow:nth-child(even){
  justify-content: space-evenly;
 }

